.breadcrumb {
  background-color: $gray-500;
  padding: 16px;
  margin: 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      a {
        text-decoration: none;
        padding: 14px;
        color: $gray-900;
        &.active{
            color: $primary;
        }
      }
      ::after {
        content: "\e07e";
        font-family: uicons-regular-rounded !important;
        position: absolute;
        top: 0px;
        right: -12px;
      }
    &:last-child{
        ::after {
            display: none;
          }
    }
    }
  }
}
