.side-bar{
    padding-right: 40px;
    border-right: solid 1px;
    border-color: $gray-500;
    .widget{
        margin-bottom: 20px;
        .widget-title{
            margin-bottom: 20px;
            h5{
                font-size: 20px;
            }
        }
    }
}
button.filter-option-mobile{
    position: fixed;
    top: 50%;
    z-index: 990;
    background-color: $primary;
    color: $gray-100;
    padding: 14px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-size:20px;
    display: none;
    @include respond-to(md) {
        display: block;
      }
    i{
        display: flex;
    }
}
.mobile-filter{
    @include respond-to(md) {
        display: none;
      }
}